main {
    padding:0;
}

section {
    margin: 0 5%;
}
.credits   {
    border: 4px solid rgba(196,25,137,1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    color:rgb(219, 245, 255);
    max-width:960px;

}

.credits h2 {
    font-size: 1.75em;
}

p {
    padding: 5%;
}

hr {
    border-top: 4px dashed rgba(196,25,137,1);
    background-color: transparent;
    width: 90%;
}

li {
    list-style-type: none;
}

h3 {
    font-size: 1.3em;
}

h2, h3{
    color:rgb(64,177,221);
}

.department {
    margin: 5% 0;
}

.aboutus {
    display:flex;
    flex-direction: column;
    justify-content: center;
}



.aboutus img {
    width: 200px;
    align-self: center;
}
/* 
@media(min-width: 768px){
    .aboutus {
        flex-direction: row;
        margin:auto;
    }
} */

@media(min-width: 1200px){
    .aboutus {
        flex-direction: row;
        margin:auto;
    }
    .aboutus img {
        width: 20%;
        height: 100%;
        align-self: center;
    }
    .aboutus p {
        width:80%;
    }
    .credits {
        margin:auto;
    }
}