/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 83%, rgb(23, 11, 41) 100%);
    margin:auto;
    font-family: 'Raleway', sans-serif;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600px - 300px)));
    overscroll-behavior: contain;
    font-size: 1.125em;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    z-index:0;
    position:relative;
  }

  header {
    background-image: url("../img/headerbg.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88vh;
    flex-direction: column;
    justify-items: flex-start;
  }

  .header > div:nth-child(2) {
     width: 30%;
     display:flex;
     flex-direction: column;
     align-items:center;
     min-width: 400px;
    }

  header h1{
    margin: 0;
    font-size: 1.375em;
    font-variant: petite-caps;
    margin-left:75px;
  }

  header h2{
    font-size: 1.125em;
    color: #5d7d8a;
  }
  
  header img {
    width:100%;
    height:auto;
    max-width:650px;
  }
  .header-info {
    display: flex;
    width:80%;
    align-items: center;
    font-size: 1.375em;
  }

  .header-info > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-info > div:nth-child(2) {
    width: 50%;
  }


  .hidden {
    opacity:0;
  }

  .show {
    opacity: 1;
  }

  section {
    position: relative;
    display: flex;
    flex-wrap:wrap;
    
  }

  span {
    display:block;
    font-size: 1.375em;
  }

  h3 {
    font-size: 1.250em;
    line-height: 1.15;
    margin-bottom: 1.1em;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 300;
    margin-top: .2em;
    text-rendering: optimizeSpeed;
  }

  h2 {
    margin-bottom: 1em;
  }
  p{
    line-height: 1.58;
    font-size: 1.125rem;
  }

  ul {
    text-decoration: none;
    list-style: none;
    padding:0;
  }

  .secondary{
    color: rgb(64,177,221);
  }

  .text-color {
    color: rgb(219, 245, 255);
  }


  .primary{
    color: rgba(196,25,137,1);
  }

  .background-secondary {
    background-color: rgb(64,177,221);
  }

    hr {
     background-color: rgba(196,25,137,1);
     border: none;
     height: 5px;
   }

  .divider-svg {
      position: absolute;
      bottom: 0;
      left:0;
      width: 100%;
      height: 200px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon class="svg--lg" fill="rgb(5, 5, 10)" points="0 50,75 90,100 60,100 100,0 100" /></svg>');  
      background-size: 100% 100%;
    }

  .divider-svg-2 {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon class="svg--lg" fill="rgba(23, 11, 41, 1)" points="0 98,100 65,100 100,0 100" /></svg>');
    background-size: 100% 100%;
  }
  
    #hero {
    background-image: url("../img/herobgmobile576.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    padding-top: 30px;
   }
   #hero-slider {
    max-width:585px;
    background-color: rgba(0, 0, 0, 0.70);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid 2px black;
    box-shadow: 5px 7px 8px #15010d;
   }

   .slide-info {
     color: rgb(64,177,221);
   }



   .section-btn {
    margin-top:50px;
    margin-bottom: 50px;
   }

   .section-btn a {
     text-decoration: none;
     font-weight: 800;
     color: black;
     background: rgb(64,177,221);
     padding: 10px 30px;
     border-radius: 50px;
   }



   #mobile-nav-btn {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
   }

   .mobile-nav-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(219, 245, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    font-size: 1.25rem;
    line-height: 1;
  }

  #navigation {
    background: -moz-linear-gradient(left,  rgba(255,0,159,1) 0%, rgba(0,0,0,.75) 30%, rgba(0,0,0,0.75) 35%, rgba(0,0,0,0.75) 65%, rgba(0,0,0,0.75) 70%, rgba(74,192,227,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,0,159,0.75) 0%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.75) 35%,rgba(0,0,0,0.75) 65%,rgba(0,0,0,0.75) 70%,rgba(74,192,227,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,0,159,.75) 0%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.75) 35%,rgba(0,0,0,0.90) 65%,rgba(0,0,0,0.90) 70%,rgba(74,192,227,.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfff009f', endColorstr='#bf4ac0e3',GradientType=1 ); /* IE6-9 */
    transition: height 150ms ease-out;
    background-size: contain;
    height: 5vw;
    min-height: 75px;
  }

  .nav-wrapper {
    display:flex;
    justify-content: space-between;
    height: 75px;
    transition: opacity .3s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    height: 100%;
    flex-grow:1;
    background: #00000069;
  }

  .nav-wrapper button {
    outline:0;
  }
  #nav-bar {
    height:0px;
    transition: height 400ms cubic-bezier(0.4, 0, 1, 1);
    overflow: hidden;
    font-size: 1.375rem;
  }

  #nav-bar.active {
    background: black;
    height: 175px;
  }

  .nav-bar-content {
    display: flex;
    flex-grow:2;
  }

  #nav-bar ul {
    list-style: none;
    margin: 0;
  }

  .nav-link {
    text-decoration: none;
    color:rgb(219, 245, 255);
  }
  .nav-item {
    padding: 10px;
  }
  #cta-wrapper {
    display: flex;
    overflow: hidden;
    transition: width 300ms ease-out;
    flex-grow: 1;
    align-self: center;
    flex-wrap:wrap;
    height:100%;
    justify-content: center;
  }
  .cta-btn {
    align-self: center;
    background:#2C2F33;
    border-radius: 3px;
    width: 40%;
    min-width:125px;
    max-width: 250px;
  }

  .cta-btn img{
    display: block;
    width: 100%;
    height: auto;
  }

  .cta-btn:hover {
    background: #7289DA;
  }

  .cta-btn:nth-child(2):hover{
    background: #f96854;
  }

  #logo-wrapper {
    align-self: center;
    transition: opacity 300ms ease-out;
    flex-grow:1;
  }
  #logo-wrapper img {
    width:100%;
    height: 100%;
  }

  #navigation.sticky-nav {
    position: fixed;
    top: 0;
    width:100%;
    box-shadow: 0 4px 0 rgba(34,34,34,0.03);
    z-index: 1400;
  }

  .section {
    background: rgba(22, 10, 40, 1.0);
  }
  .section h2 {
    width:100%;
    text-align: center;
  }

  /* Paralax section */
  .content {
    padding: 10% 5% 20px 5%;
    font-variant: petite-caps;
}
.content h3{
  font-size:2em;
}

 .parallax-section {
   position:relative;
   z-index:0;
   overflow:hidden;
 }

 .container {
  display: flex;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 125px;
 }

 .parallax-container {
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   height: 100%;
   height: calc((100vh * 0.6) + 200vh);
   will-change: transform;
   top:auto;
  z-index:0;
 }

 .parallax-head {
   width:100%;
   height:300px;
   background:black;
   z-index:1;
 }

 .parallax-bg {
   background-repeat: no-repeat;
   background-image: url("../img/parallaxbg.png");
   background-attachment: scroll;
   background-position: bottom;
   background-size: cover;
 }

 .parallax-inner {
   position: absolute;
   width:100%;
   height:100%;
   bottom:0;
   left:0;

 }

 .parallax-fg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
  object-fit: contain;
 }

 .parallax-fg img {
  width:100%;
  height:auto;
 }

 .section-overlay-wrapper {
   position: relative;
   width: 100%;
   z-index:0;
 }

.section-overlay {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  background-color: black;
}
/*End-Paralax*/


@media (min-width: 575px){
  .parallax-container {
    height: calc((100vh * 1vh) + 100vh);
}
}

/*About Main Section*/
.studio-section {
  background: rgba(23, 11, 41, 1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10% 10% 125px 10%;
}

.studio-section > div:nth-child(1){
  align-self: center;
}

.studio-section > div:nth-child(2){
  width:60%;
}
.studio-logo {
    background: black;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 0px 35px 0px black;
    margin: 10%;
}
.section-img {
  display: block;
  width: 100%;
  height: auto;
}

.section-join ul {
  display:inline-flex;
  align-self: center;
}

.section-join li {
  padding: 0 10px;
  margin-bottom:25px;
  transition: transform .8s ease-in-out;
}

.section-join li:hover {
  transform: rotate(360deg);
}



.section-join > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
  z-index: 1;
}
.section-join > div:nth-child(2){
  display:flex;
  align-items: flex-end;
}

.section-join {
  background: rgb(5,5,10);
  justify-content: center;
  padding: 0 10%;
}

.section-news {
  padding: 30px 50px;
}


.section-news h3 {
  color: rgb(64,177,221);
  margin-bottom: 0;
}

.section-news > p:nth-child(2){
  margin-top:20px;
}

.section-news .blog-details > span:nth-child(1) {
  margin-bottom:0px;
}

  .footer-info {
    background:#131313;
    display: flex;
    justify-content: center;
    padding: 3% 5%;
    min-height: 200px;
    flex-wrap: wrap;
  }

  footer > img {
    background:hsl(264, 58%, 10%);
  }
  .footer-info img{
    object-fit: contain;
  }
  .footer-stone {
    background: url("../img/footerstoneleft.png") left top no-repeat, url("../img/footerrightstone.png") right top no-repeat, url("../img/footerstone.png");
    background-size:contain;
    width: 100%;
    height: 30px;
  }

  .social-media span{
    width: 100%;
    height: 100%;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
  }
  .social-media > img:nth-child(1) {
    margin-right: 5%;
   }
   
   #facebook {
     width: 50px;
     height: 50px;
     background: url("../img/icons/fblogo.png") no-repeat;
   }

   #facebook:hover {
    background: url("../img/icons/flogohighlight.png") no-repeat;
   }
  
   #twitter {
    width: 50px;
    height: 50px;
    background: url("../img/icons/twitterlogo.png") no-repeat;
   }
   #twitter:hover {
    background: url("../img/icons/twitterlogohighlight.png") no-repeat;
   }

  .copy-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .copy-right span {
    margin-bottom:0;
  }

  @media (min-width: 575px){
    p{
      font-size: 1.250em;
    }
    .cta-animate {
      flex-direction: row;
    }
    #cta-wrapper {
      justify-content: space-evenly;
    }

    .section-news.blog-details {
      display: flex;
    }
    .footer-info {
      min-height: auto;
      justify-content: space-between;
    }
    .section-news p {
      font-size: 1em;
    }
    .content {
      padding: 10% 10% 20px 10%;
    }
    
    
  }

  @media (min-width: 768px){

    #mobile-nav-btn{
      display:none;
    }
    #navigation {
      display:flex;
      /* background:black; */
      align-items: center;
      height: 10vw;
    }
    #nav-wrapper {
      flex-grow:3;
    }
    #nav-bar {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      justify-items: flex-start;
      height: auto;
      /* flex-basis: 50%;*/
      flex-grow: 2;
    }
    #nav-bar ul {
      display: inline-flex;
      padding: 0;
      justify-content: space-evenly;
    }

    #cta-wrapper {
      order:2;
      justify-content: space-between;
    }
    #cta-wrapper > div {
      margin-right: 10px;
    }
    .nav-wrapper {
      width: 50%;
      flex-grow: 3;
    }
    .logo-animate {
      transform: scale(.6);
    }

    .content {
      padding: 10% 10%;
    }

    .studio-section {
      flex-direction: row;
      flex-wrap:nowrap;
      padding: 5% 10% 100px 10%;
    }
    .studio-section > div:nth-child(1) {
        width: 75%;
      }

    .parallax-section {
      padding: 0;
    }

    .section-news p {
      font-size: 1em;
    }

  }

  @media (min-width: 1000px){
    p {
      font-size:1.325em;
    }
    #cta-wrapper {
      flex-wrap:none;
    }

    .cta-item {
      max-width: 175px;
    }
    .studio-section > div:nth-child(2){
      width:40%;
    }
    .section-news {
      padding: 5% 35px;
      width: 40%;
      flex-grow: 1;
    }

  
  }

  @media (min-width: 1200px){
    .studio-section > div:nth-child(2){
      max-width:30%;
    }
    .content {
      padding: 10% 20%;
    }
  }

  @media (min-width: 1400px){
    .news-section {
      padding: 0 10%;
    }
    .section-join {

      padding: 0 20%;
    }

    .studio-section {
      padding: 5% 20% 100px 20%;;
    }
    .content {
      padding: 10% 25%;
    }
  }

  @media (min-width: 1920px){
    .content {
      padding: 10% 30%;
    }
  }

 


    #audio-plugin {
      padding: 2%;
      position: absolute;
      top:0;
      z-index:1;
      flex-direction: column;
    }

    #audio-plugin i {
      color: rgb(64,177,221);
    }

    #audio-plugin .progress-bar, #audio-plugin .volume-bar {
      border: 2px solid rgb(64,177,221);
      color: rgb(64,177,221);
    }

    #audio-plugin .audio-info {
      display: flex;
      flex-direction: column;
      color:rgb(64,177,221);;
    }

    #audio-plugin .progress-bar {
      height: 17px;
    }

    #audio-plugin .progression {
      background-color: rgb(196, 25, 136);
    }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

